<!DOCTYPE html>
<html lang="ES">

<%- include('./partials/head',{
	title : "Carrito"
}) %>

<body>
	<%- include('./partials/head') %>

    <h1>carrito</h1>
	<%- include('./partials/footer') %>
</body>
</html>