<!-- cabecera -->
<header class="header">
    <a href="/"><img src="/images/logo.jpg" alt="logotipo" class="header__logo"></a>
    

    <a href="#" class="header__bars">
        <i class="fa fa-bars"></i>
    </a>

    <nav class="header__nav">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="#">quienes</a></li>
            <li><a href="/admin">Dashboard</a></li>
            <li><a href="/carrito">Carrito</a></li>
            <li><a href="/usuarios/ingreso">Ingresá</a></li>
            <li><a href="/usuarios/registro">Registro</a></li>
        </ul>
    </nav>
</header>